<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <span>Blog: <a href="http://blog.daum.net/creazier">삶의 모든 순간을 즐겨라</a></span>
				<br>
				<span>개발분야: 안드로이드 (Android)</span>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                농구를 사랑하는 개발자
            </p>
        </div>
    </div>
</section>