<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <span style="font-family: 'Hanna', serif; font-size: 25px;">개발분야: 안드로이드 (Android)</span>
				<br>
				<span style="font-family: 'Hanna', serif; font-size: 25px;">Blog: 
					<a href="http://blog.daum.net/creazier" target="_blank">삶의 모든 순간을 즐겨라</a>
				</span>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                농구를 사랑하는 개발자
            </p>
        </div>
    </div>
</section>