<head>
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.brand }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    {% if site.meta_author %}
    <meta name="author" content="{{ site.meta_author }}">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="./web-dist/css/main.min.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/hanna.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.5/js/tether.min.js"></script>
    <script src="./web-dist/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/266c035ce0.js"></script>
    <script src="./web-dist/js/app.js"></script>
	<style type="text/css">
		/* 링크에서 밑줄 없애기 */
		a.no-uline { text-decoration:none }
		/* 마우스 지나갈 때만 삭제 + 강제로 없애기 */
		a.noul:hover { text-decoration:none !important }
	</style>
</head>
